@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 36px;
}

#header-logo {
    /* width: 120px; */
    width: 52.18px;
    margin-top: 36px;
    /* margin-bottom: 20px; */
    display: block;
}

.header-part2 {
    display: flex;
    gap: 30px;
    margin-bottom: -10px;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-info img {
    width: 18px;
    height: 18px;
}


.header-part3 {
    max-width: 800px;
}


.header-p {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    color: #333;
}


h1 {
    font-size: clamp(32px, 5vw, 48px);
    font-family: "Roboto Slab", serif;
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1;
}



.header-p2 {
    background-color: #1E4681;
    color: white;
    padding: 15px;
    /* width: 80%; */
    max-width: 475px;
    border-radius: 4px;
    margin-top: 60px;
}

.viewer {
    font-family: "Roboto Slab", serif;
    font-size: 11px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.tarkovskiy {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    text-align: right;
}

main section {
    padding: 60px 0;
}

.header-part3 {
    display: flex;
    flex-wrap: wrap;
}

.header-part3 img {
    width: 30vw;

}

.h-pic {
    display: flex;
    justify-content: end;
    width: 100%;
}



.header-part3 {
    max-width: 800px;
}




@media (min-width:601px) and (max-width:990px) {

    .viewer {
        font-size: 14px;
    }

    .tarkovskiy {
        font-size: 12px;
    }

    .header-part3 {
        max-width: 100%;
    }

    .header-part2 {
        gap: 20px;
    }

    .header-pictures {
        justify-content: flex-end;
    }

    .h-pic img {
        height: 206px;
        width: 176px;
        margin-top: -60px;
    }

    .header-bluebox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    /* .header-part3 .header-p {
        width: 50%;
        } */

    .header-p {
        font-size: 12px;
    }


    #header-logo {
        width: 64.87px;
        height: 38.23px;
    }

}

@media (min-width: 991px) {

    .header-part3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
    }

    .viewer {
        font-size: 25px;
    }

    .tarkovskiy {
        font-size: 20px;
    }


    .header-pictures {
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }

    .h-pic img {
        height: 356px;
        width: 304px;
        margin-top: -120px;
    }


    .header-p {
        font-size: clamp(10px, 3vw, 24px)
    }


    .header-p2 {
        margin-top: 60px;
    }

    .header-bluebox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-left: 40px;
    }


    .header-p {
        font-size: 16px;
    }

    #header-logo {
        width: 112px;
        height: 66px;
    }
}